@model SaveSearchViewModel

@{
    ViewBag.Title = "Results";
}

<h2 style="text-align: center; margin-top: 5%; margin-bottom: 5%">@ViewData["Title"]</h2>


<p style="text-align: center; font-weight: 700;">@ViewBag.ProductDescription</p>
<table style="height: 39px; margin-left: auto; margin-right: auto;" width="518">
    <tbody>
    <tr>
        <td style="width: 165px; text-align: center;">
            Amazon Price
            <p>@Model.Result.AmazonPrice</p>
        </td>
            
        <td style="width: 165px; text-align: center;">
            Ebay Price
            @* <p>@{(Model.EbayPrice.HasValue) ?  Model.AmazonPrice : "no price"}</p> *@
        </td>
            
        <td style="width: 166px; text-align: center;">
            John Lewis Price
            @* <p>@(Model.JohnLewisPrice.HasValue) ? £ Model.AmazonPrice : "no price"</p> *@
        </td>
    </tr>
    </tbody>
</table>


@*<form asp-action="Save" asp-controller="Home">
    @Html.TextBoxFor(model => model.Result.Date)
    @Html.TextBoxFor(model => model.Result.AmazonPrice)
    @Html.TextBoxFor(model => model.SavedSearch.Description)
    @Html.TextBoxFor(model => model.SavedSearch.CreatedDate)
    
    <button type="submit" value="SaveSearchViewModel" class="btn btn-primary" style="margin-inline-start: 44%; margin-top: 4%;">Save Search</button>
</form>*@

@using (Html.BeginForm("Save", "Home", FormMethod.Post))
{
    @Html.EditorFor(model => Model.Result.Date)
    @Html.EditorFor(model => Model.Result.AmazonPrice)
    @Html.EditorFor(model => Model.SavedSearch.CreatedDate)
    @Html.EditorFor(model => Model.SavedSearch.Description)
    
    <button type="submit" value="save search" class="btn btn-primary" style="margin-inline-start: 44%; margin-top: 4%;">Save Search</button>
}

<p>&nbsp;</p>
<hr>


@* utter bullshit *@
@*<script type="text/javascript">
    $("#saveSearchButton").click(function () {
        var modelToPass = {
            Result: {
                Date : @DateTime.Today.ToShortDateString(),
                AmazonPrice: @Model.Result.AmazonPrice
            },
            SavedSearch:{
                CreatedDate : @DateTime.Today.ToShortDateString(),
                Description : @Model.SavedSearch.Description
            }
        }
        $.ajax({
            url: '@Url.Action("Save", "Home")',
            type: 'POST',
            data: JSON.stringify(modelToPass),
            success: function (e) {
            }
        });
    })
</script>*@

